body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    color: black;
}

header,
nav {
    width: 100%;
    display: flex;
}

header {
    background-color: grey;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}

nav {
    color: white;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    background-color: darkgray;
    height: 4vh;
}

.menuContent {
    margin-top: -4vh;
    margin-left: 10vw;
    position: absolute;
    display: none;
    background-color: grey;
}

.category.active>.menuContent {
    margin-top: 0vh;
    margin-left: 0vw;
}

.active>.menuContent {
    display: flex;
    flex-direction: column;
    box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.3);
}

.menuLabel,
.menuElem {
    margin: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
    width: 10vw;
}

.menuLabel:hover,
.category.active>.menuLabel,
.menuElem:hover {
    background-color: brown;
}

.subMenu.active>.menuLabel {
    background-color: orange;
}